<div id="<%= dom_id project %>">
  <p>
    <strong><%= project.name %></strong>
  </p>
  <%= render 'messages/form' %>
  <% @project.messages.order(created_at: :desc).each do |message| %>
    <p class='m-0 fw-bold'><%= posted_at(message.created_at) %></p>
    <div class="card">
      <p class='fs-4 m-0 '><%= message.content  %></p>


      <p class='m-0 '>-
        <%= message.author  %></p>

    </div>
  <% end %>

</div>
