<div id="<%= dom_id project %>">
  <p>
    <strong><%= project.name %></strong>
  </p>
  <%= render 'messages/form' %>
  <div id="messages">
    <%= turbo_stream_from project %>

    <%= render @project.messages.order(created_at: :desc) %>
  </div>
</div>
