<%= link_to "<< Back to projects", projects_path %>
<h1>
  <strong><%= @project.name %></strong>
</h1>
<div>
  <%= link_to "Edit this project", edit_project_path(@project), class: 'btn btn-primary' %>


  <%= button_to "Destroy this project", @project, method: :delete, class: 'btn btn-danger' %>
</div>

<%= render @project %>
