<div id='sidebar' class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <%= link_to root_path, class: 'd-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none' do  %>
      <%= image_tag 'logo.png', class: 'fs-5 d-none d-sm-inline', height: '50px' %>
    <% end %>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a href="/" class="nav-link align-middle px-0">
          <i class="fad fa-house"></i>
          <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>
      <% if can? :manage, User %>
        <li>
          <%= link_to users_path, class: 'nav-link px-0 align-middle' do %>
            <i class="fad fa-users"></i>
            <span class="ms-1 d-none d-sm-inline">Team</span>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to projects_path, class: 'nav-link px-0 align-middle', data: {'bd-toggle' => 'collapse'} do %>
          <i class="fad fa-tasks"></i>
          <span class="ms-1 d-none d-sm-inline">Projects</span>
        <% end %>


        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
          <%= render(partial: 'layouts/project_list', collection: find_projects, as: :project_list_array, cached: true) %>

        </ul>
      </li>

    </ul>
    <hr>
    <% if current_user %>
      <div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.avatar.attached?  %>
            <%= image_tag current_user.avatar.variant(resize_to_limit: [60, 60]).processed, width: "30", height: "30", class: 'rounded-circle' %>
          <% end %>
          <span class="d-none d-sm-inline mx-1"><%= current_user.name %><br/><small><%= current_user.role %></small>
          </span>

        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <% if can? :manage, User %>
            <li>
              <%= link_to 'Team', users_path, class: 'dropdown-item' %>
            </li>
          <% end %>
          <li>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { "turbo-method": :delete }, class: 'dropdown-item' %>

          </li>
        </ul>
      </div>
    <% else  %>
      <%= link_to new_user_registration_path, class:'d-flex align-items-center text-white text-decoration-none' do %>
        <i class='fad fa-circle-user'></i>
        <span class="d-none d-sm-inline mx-1">Account</span>
      <% end %>
    <% end %>
  </div>
</div>
