<!DOCTYPE html>
<html>
  <head>
    <title>TeamWip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/6a4b034cbc.js" crossorigin="anonymous"></script>
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>

  </head>

  <body class='dark'>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%= render 'layouts/sidebar' %>
        <div class="col py-3">

          <%= render partial: 'layouts/pretender' %>
          <%= render partial: 'layouts/flash_notices' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
